
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    form {     margin: 0 auto;   width: 400px;   padding: 1em;   border: 3px solid #CCC;   border-radius: 1em;   border-color: White; }  form div + div {   margin-top: 1em; }  label {    display: inline-block;   width: 90px;   text-align: right; color: white}  input, textarea {    font: 1em sans-serif;     width: 300px;   box-sizing: border-box;     border: 3px solid #999; }  input:focus, textarea:focus {    border-color: Darkred; }  textarea {    vertical-align: top;     height: 5em; }  .button {    padding-left: 90px; }  button { border: 3px solid #999;     margin-left: .5em; }
    </style>
</head>
<body style="background-image:url(http://eskipaper.com/images/background-images-11.jpg)" >

<dd>
<font color="white" size="6">
<dt>User name:</dt>
<dl th:text="${name}" style="color=white"></dl>
</font>
</dd>

<font color="white" size="6">
<a href="/twaddle">Home</a>
</font>
</body>
</html>